/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Variables */

:root {
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  background-color: var(--color-light-grayish-blue);
  color: var(--color-desaturated-dark-blue);
  display: flex;
  justify-content: center;
}

p {
  margin-block-start: 1.2rem;
  letter-spacing: 0.1px;
  line-height: 1.55;
}

main {
  margin-block-start: 260px;
  max-inline-size: 730px;
  max-block-size: 280px;
  display: flex;
  background-color: white;
  box-shadow: 0px 20px 30px 12px hsl(212deg 23% 69% / 19%);
  border-radius: 10px;
}

article {
  border-radius: 10px;
  display: flex;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.2px;
  line-height: 1.4;
  color: var(--color-very-dark-grayish-blue);
}

.article-image {
  object-fit: cover;
  object-position: left;
  overflow: hidden;
  filter: brightness(1.08) contrast(0.95);
  border-start-start-radius: 10px;
  border-end-start-radius: 10px;
}

.content {
  --share-button-block-end: 3.6rem;
  --share-button-inline-end: 4rem;
  position: relative;
  flex: 72% 1 1;
  padding: 3.2rem 3.9rem;
}

footer {
  display: flex;
  margin-block-start: 2rem;
  gap: 1.5rem;
}

footer > img {
  --size: 4rem;
  max-inline-size: var(--size);
  max-block-size: var(--size);
  border-radius: 50%;
}

time {
  display: block;
  font-weight: 500;
  color: var(--color-grayish-blue);
}

address {
  font-weight: 700;
  color: var(--color-very-dark-grayish-blue);
  letter-spacing: 0.1px;
}

address,
time {
  font-style: normal;
}

#share {
  --size: 3.2rem;
  position: absolute;
  inset-inline-end: var(--share-button-inline-end);
  inset-block-end: var(--share-button-block-end);
  block-size: var(--size);
  inline-size: var(--size);
  border-radius: 50%;
  border: none;
  background-color: var(--color-light-grayish-blue);
  cursor: pointer;
}

#share > svg {
  margin-inline: auto;
}

/* Manage active state of button */
#share.share-button-active {
  background-color: var(--color-desaturated-dark-blue);
}

#share.share-button-active > svg > path {
  fill: white;
}

.share-popup {
  --transition: opacity ease-in 0.2s, inset-block-end ease-out 0.25s;
  background-color: var(--color-very-dark-grayish-blue);
  position: absolute;
  inset-inline-end: 3rem;
  inset-block-end: calc(var(--share-button-block-end) + 4rem);
  block-size: 55px;
  inline-size: 248px;
  transform: translateX(98px);
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.2rem;
  padding-inline: 3.7rem;
  transition: var(--transition);
}

.share-popup.opened {
  display: flex;
  opacity: 1;
  pointer-events: inherit;
  inset-block-end: calc(var(--share-button-block-end) + 6rem);
}

.share-popup > button {
  block-size: 20px;
  inline-size: 20px;
  border: none;
}

.share-popup > p {
  letter-spacing: 5.7px;
  margin: 0;
  color: var(--color-grayish-blue);
}

.share-popup > button {
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

button.facebook {
  background-image: url(images/icon-facebook.svg);
}

button.x {
  background-image: url(images/icon-twitter.svg);
}

button.pinterest {
  background-image: url(images/icon-pinterest.svg);
}

.share-popup::after {
  content: '';
  block-size: 2rem;
  inline-size: 2rem;
  background-color: var(--color-very-dark-grayish-blue);
  position: absolute;
  transform: translate(77px, 25px) rotate(45deg);
}
